body {
    background-color: grey;
}

h1 {
    text-align: center;
}

.character {
    display: inline-block;
}

.card-img-top {
    height: 280px;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
}